conf.json
compiled/*
WookieDb.py
install_scripts/negative-words.txt
install_scripts/positive-words.txt
install_scripts/opinion-lexicon-English.rar
install_scripts/db_creation_code.sql
/nbproject/private/