
body {
    font-family: sans-serif;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

#header {
    font-size: 2em;
    font-weight: bold;
    border-bottom: 2px solid blue;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#header > * {
    vertical-align: middle;
}

#header a {
    text-decoration: none;
}

#navigation {
    border-bottom: 1px solid black;
    text-align: center;
}

#navigation a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

#debug {
    
    padding: 10px;
    border: 2px solid red;
    margin: 10px;
    
    font-size: 20px;
    font-weight: bold;
    color: red;
}
